#body{
  background-color: #1c3356;
  max-width: 100%;
}

#divContent{
  min-height: 76vh;
}

#menuBar{
  display: inline-block;
  background-color: gray;
  min-height: 5%;
  max-height: 15%;
  width: 100%;
  max-width: 100%;
}

#menuLogo{
  color: #1c3356;
  margin-left: 3.7%;
  margin-right:4%;
  font-size: 2vw;
  font-family: "Allerta Stencil";
  text-align: center;
}

#menuLogo:hover{
  color: #0056b3;
}

.menu{
  color: #1c3356;
  font-size: 1.2vw;
  text-align: center;
  display: inline-block;
  font-family: "Allerta Stencil";
  width: auto;
  margin-left: 1.9%;
  margin-right: 12.39%;
}

#presentationHeader{
  margin-top: 10vh;
  text-align: center;
  color:White;
  font-family: "Allerta Stencil";
}

#divText{
  width: 62%;
  max-width: 62%;
  vertical-align: middle;
  margin-top: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: justify;
  justify-content: center;
}

#divList{
    width: 62%;
    max-width: 62%;
    vertical-align: middle;
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: justify;
    justify-content: center;
    font-size: 2vw;
}
li{
  margin-top: 3%;
  font-family: "Allerta Stencil";
}

.listLinks{
  color: white;
  font-size:2vw;
  margin-left: 1em;
  width: auto;
}

#hr{
	border: 1px white inset;
}

#footerBar{
  min-height: 5%;
  max-height: 15%;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1%;
}

#footerLogo{
  color: gray;
  margin-right:67%;
  margin-left: 3.7%;
  font-size:2vw;
  font-family: "Allerta Stencil";
}

#footerLogo:hover{
  color: #0056b3;
}

.footerLinks{
  color: gray;
  font-size:2vw;
  margin-left: 1em;
  width: auto;
}

.img1{
  height: auto;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

.slideImages1{
  display: block;
  margin-top: 2em;
  margin-left: 24em;
  margin-right: 24em;
  max-width: 43.5em;
}

.img2{
  height: auto;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

.slideImages2{
  display: block;
  margin-top: 2em;
  margin-left: 24em;
  margin-right: 24em;
  max-width: 78.7em;
}

.img3{
  height: auto;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

.slideImages3{
  display: block;
  margin-top: 2em;
  margin-left: 24em;
  margin-right: 24em;
  max-width: 60%;
}

.slides{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.imgSlide {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.demodots{
  border-radius: 100%;
}

.w3-tag, .fa {
  cursor:pointer
}

.w3-tag {
  height:15px;
  width:15px;
  padding:0;
  margin-top:6px
}
