{% extends "layout.html" %}
{% block body %}

<h1 id="presentationHeader"> Events!</h1>
<div id=divList>
  <ul>
    <li class="fa-icon fa-terminal">
      <a class="listLinks" target="_blank" href="https://nsec.io">
        NorthSec 2018(Conferences and CTF)
      </a>
      <p class="listLinksSpecification">Finished 3rd place Golden Tickets</p>
    </li>

    <li class="fa-icon fa-terminal">
      <a class="listLinks" target="_blank" href="https://montrehack.ca">
        Montrehack (January 2018 - ...)
      </a>
    </li>

    <li class="fa-icon fa-terminal">
      <a class="listLinks" target="_blank" href="http://www.missionhack.ca/">
        Mission Hack 2018 (Hackathon)
      </a>
    </li>

    <li class="fa-icon fa-terminal">
      <a class="listLinks" target="_blank" href="https://hackfest.ca/fr/2017/">
        Hackfest Nine Lives 2017 (Conferences and CTF)
      </a>
    </li>

    <li class="fa-icon fa-terminal">
      <a class="listLinks" target="_blank" href="https://hackfest.ca/fr/2016/">
        Hackfest Infinity 2016 (Conferences)
      </a>
    </li>

    <li class="fa-icon fa-terminal">
      <a class="listLinks" target="_blank" href="https://hackfest.ca/fr/2015/">
        Hackfest Lucky Edition 2015 (Conferences)
      </a>
    </li>
  <ul>
</div>
{% endblock %}
