{% extends "layout.html" %}
{% block body %}
<h1 id="presentationHeader"> Hi, I'm Felix and welcome to my website!</h1>
<div id="divText">
  <p>
    I'm an ETS student and I'm studying IT Engineering. I specialize in cybersecurity. I'm part of a student organization (DCI) that does all kinds of computer science competitions. As you can see, I participated in several events like Hackfest, MontreHack and NorthSec in the last few years. They are mostly about cybersecurity and they are made of conferences and workshops. Tough goals push me to perform. I'm also able to work under pressure.  I'm resourceful and I adapt easily to various environments. You can also visit my GitHub, Linkedin, Facebook or Twitter or download my <a href="/static/Cv-Felix-Lehoux-website.pdf" download> CV </a> to learn more about me.
  </p>
</div>

<!-- I used the template of W3School: https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_marketing&stacked=h -->
<div class="slides meImage">
   <div class="w3-display-container mySlides">
     <img class="imgSlide imgs" src="{{ url_for('static', filename='Images/me.jpg') }}">
     <div class="w3-display-topleft w3-container w3-padding-32">
       <span class="w3-white w3-padding-large w3-animate-bottom">Me</span>
     </div>
   </div>

   <div class="w3-display-container mySlides">
    <img class="imgSlide imgs" src="{{ url_for('static', filename='Images/nsec.jpg') }}">
    <div class="w3-display-topleft w3-container w3-padding-32">
      <span class="w3-white w3-padding-large w3-animate-bottom">3rd place of Golden Tickets at NorthSec </span>
    </div>
  </div>

  <div class="w3-display-container mySlides">
    <img class="imgSlide imgs" src="{{ url_for('static', filename='Images/hackfest.jpg') }}">
    <div class="w3-display-topleft w3-container w3-padding-32">
      <span class="w3-white w3-padding-large w3-animate-bottom">Me in an Hackfest conference</span>
    </div>
  </div>

   <div class="w3-display-container mySlides">
     <img class="imgSlide imgs" src="{{ url_for('static', filename='Images/nsec2.jpg') }}">
     <div class="w3-display-topleft w3-container w3-padding-32">
       <span class="w3-white w3-padding-large w3-animate-bottom">Working hard to solve NSec's challenges</span>
     </div>
   </div>
   <div class="w3-display-container mySlides">
     <img class="imgSlide imgs" src="{{ url_for('static', filename='Images/logo.jpg') }}">
     <div class="w3-display-topleft w3-container w3-padding-32">
       <span class="w3-white w3-padding-large w3-animate-bottom">My Logo</span>
     </div>
   </div>

   <!-- I used the template of W3School: https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_marketing&stacked=h -->
   <!-- Slideshow next/previous buttons -->
   <div class="w3-container w3-dark-grey w3-padding w3-medium">
     <div class="w3-center">
       <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
       <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
       <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
       <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(4)"></span>
       <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(5)"></span>
     </div>
   </div>
 </div>

 <script>
 //I used the template of W3School: https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_marketing&stacked=h
 // Slideshow
 var slideIndex = 1;
 var cur = 1;
 showDivs(slideIndex);

 function currentDiv(n) {
   showDivs(slideIndex = n);
 }

 //setInterval(autoAnim, 4000);
 setInterval(autoAnim, 4000);

 function autoAnim(){
     if(cur >= 6 ){
       cur = 1;
     }
     currentDiv(cur);
     cur++;
 }

  function showDivs(n) {
    cur = n;
    var i;
    var x = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("demodots");
    var slides = document.getElementsByClassName("slides");

    switch (n) {
    case 1:
      slides[0].className = "slides meImage";
      break;

    case 2:
      slides[0].className = "slides nsec1Image";
      break;

    case 3:
      slides[0].className = "slides hackfestImage";
      break;

    case 4:
      slides[0].className = "slides nsec2Image";
      break;
    
    case 5:
      slides[0].className = "slides logoImage";
      break;

      default:
      slides[0].className = "slides meImage";
      break;
    }

    if (n > x.length) {
      slideIndex = 1
    }

    if (n < 1) {
      slideIndex = x.length
    }

    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }

    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" w3-white", "");
    }

    x[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " w3-white";
  }

 </script>
{% endblock %}
