{% extends "layout.html" %}
{% block body %}
<div id="divText">
  <p>
    Qu'est-ce que le Lorem Ipsum?

    Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
    Pourquoi l'utiliser?

    On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même. L'avantage du Lorem Ipsum sur un texte générique comme 'Du texte. Du texte. Du texte.' est qu'il possède une distribution de lettres plus ou moins normale, et en tout cas comparable avec celle du français standard. De nombreuses suites logicielles de mise en page ou éditeurs de sites Web ont fait du Lorem Ipsum leur faux texte par défaut, et une recherche pour 'Lorem Ipsum' vous conduira vers de nombreux sites qui n'en sont encore qu'à leur phase de construction. Plusieurs versions sont apparues avec le temps, parfois par accident, souvent intentionnellement (histoire d'y rajouter de petits clins d'oeil, voire des phrases embarassantes).
  </p>
</div>
<h1 id="presentationHeader"> Hi, I'm Felix and welcome to my website!</h1>
<!-- I used the template of W3School: https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_marketing&stacked=h -->
<div class="slides slideImages1">
   <div class="w3-display-container mySlides">
     <img class="imgSlide img1" src="{{ url_for('static', filename='Images/me.jpg') }}">
     <div class="w3-display-topleft w3-container w3-padding-32">
       <span class="w3-white w3-padding-large w3-animate-bottom">Me</span>
     </div>
   </div>
   <div class="w3-display-container mySlides">
     <img class="imgSlide img2" src="{{ url_for('static', filename='Images/hackfest.jpg') }}">
     <div class="w3-display-topleft w3-container w3-padding-32">
       <span class="w3-white w3-padding-large w3-animate-bottom">Me in an Hackfest conference</span>
     </div>
   </div>
   <div class="w3-display-container mySlides">
     <img class="imgSlide img3" src="{{ url_for('static', filename='Images/logo.jpg') }}">
     <div class="w3-display-topleft w3-container w3-padding-32">
       <span class="w3-white w3-padding-large w3-animate-bottom">My Logo</span>
     </div>
   </div>

   <!-- I used the template of W3School: https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_marketing&stacked=h -->
   <!-- Slideshow next/previous buttons -->
   <div class="w3-container w3-dark-grey w3-padding w3-medium">
     <div class="w3-center">
       <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
       <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
       <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
     </div>
   </div>
 </div>

 <script>
 //I used the template of W3School: https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_marketing&stacked=h
 // Slideshow
 var slideIndex = 1;
 var cur = 1;
 showDivs(slideIndex);

 function currentDiv(n) {
   showDivs(slideIndex = n);
 }

 //setInterval(autoAnim, 4000);
 setInterval(autoAnim, 40000000000);

 function autoAnim(){
     if(cur == 4 ){
       cur = 1;
     }
     currentDiv(cur);
     cur++;
 }

 function showDivs(n) {
   var i;
   var x = document.getElementsByClassName("mySlides");
   var dots = document.getElementsByClassName("demodots");
   var slides = document.getElementsByClassName("slides");

   switch (n) {
     case 1:
      slides[0].className = "slides slideImages1";
       break;

     case 2:
      slides[0].className = "slides slideImages2";
       break;

     case 3:
      slides[0].className = "slides slideImages3";
       break;

     default:
      slides[0].className = "slides slideImages1";
      break;
    }

   if (n > x.length) {
     slideIndex = 1
   }

   if (n < 1) {
     slideIndex = x.length
   }

   for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
   }

   for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" w3-white", "");
   }

   x[slideIndex-1].style.display = "block";
   dots[slideIndex-1].className += " w3-white";
 }

 </script>
{% endblock %}
