{% extends "layout.html" %}
{% block body %}

<h1 id="presentationHeader"> Projects!</h1>
<div id=divList>
  <ul>
    <li>
      <a class="listLinks" target="_blank" href="http://gosecure.net/2018/04/26/how-i-indexed-the-darknet-and-pastebin-during-my-first-university-internship/">
        My blog post about my internship's projects at GoSecure (2018).
      </a>
    </li>
    <li>
      <a class="listLinks" target="_blank" href="https://github.com/L3houx/Flask_Website">
        This website (2018)
      </a>
    </li>
    <li>
      <a class="listLinks" target="_blank" href="https://github.com/GoSecure/freshonions-torscraper">
        GoSecure Torscraper (internship 2018)
      </a>
    </li>
  <ul>
</div>
{% endblock %}
