{% extends "layout.html" %}
{% block body %}
<h1 id="roadtrip_title">This is my roadtrip during the summer 2017.</h1>


<p id="roadtrip_text"> First of all, the idea started 3 years ago, when I was in college. I listened to a lot of stories of persons that I know that did a trip like the one that I will talk to you.
  At this time, I wasn't a fan of camping, but with the time I began to love it.
  This summer, I decided to buy a Westfalia, yeah the cool hippy van! At the end of the summer, I bought me a cool Westfalia 1986 name Zébulon.
  I continued to work a lot to have money during the trip.
  <br>
  <br>
  I began to prepare my trip 3-4 months before leaving.
  I prepared all the stock that we will need during the trip, I did the mechanical reparations and when it came the time, we said Goodbye to our families (me and my girlfriend) to live a beautiful experience.
  It wasn't easy to do because we were going for a 2 months trip. We started our trip at Thetford Mines.
  The first cool place we stopped was at the national park Yellowstone. We spent 2-3 days there. After that, we continued our road to Las Vegas where we spent 2 days there.
  We only stayed 2 days because we were in a heatwave. We didn't spend a lot of time there but it still a beautiful place. I shot AK47, M4A1, MP5 and Uzi, it was a really good experience.
  After that, we continued our travel to California. We spent 2 weeks in California. We visit Los Angeles, Hollywood, Beverly Hills and Venice Beach. We also visited Disneyland, San Francisco and Lake Tahoe.
  We stayed at Venice Beach for 1 week where we took it easy. We surfed a lot.
  After this week, we continued all the west coast on the ROAD 1, it was beautiful.
  We slept a lot of times just the shoulder of the road. We waked up with the sound of the waves and the birds it was the most amazing moment of my life.
  We finished our trip in Canada. We pass through Vancouver. We decided to visit Lake Louise, Jasper and to come back by Banf.
  <br>
  <br>
  It was the most amazing experience that I lived, I wish you to do a road trip like this. I know that my summary is really short but I found it easier to talk about my experience instead of writing it.
  <br>
  <br>
  PS. If it can interest you, this is a link to my Facebook group where I put more photos during all my trip.
<a href="https://www.facebook.com/groups/1677223702587228/">Link to my Facebook group</a> </p>




{% endblock %}
